.universal-buttons {
	width: 100px;
	height: 40px;
	margin-top: 50px;
	margin-left: 15px;
	margin-right: 15px;
	background-color: rgba(0,0,0,0);
	color: #fff;
	border: 2px solid #fff;
	border-radius: 5px;
}

.universal-buttons:hover {
	background-color: #7c5bb3;
	cursor: pointer;
}

/* - CSS for the main menu - */

.background {
	position:fixed !important;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color: #333;
	background-image: linear-gradient(to bottom right, #a57fe2 50%, #9b72df 50%);
	z-index: -1;
}

#menu {
	text-align: center;
}

#menu-title-logo {
	margin: auto;
	margin-top: 50px;
	display: flex;
}

#menu-names-container {
	display: inline-block;
	width: 20%;
	margin-top: 100px;
	margin-right: 30px;
}

#menu-right-container {
	vertical-align: top;
}

.menu-subject-fields {
	width: 100%;
	height: 50px;
	color: #fff;
	font-family: sans-serif;
	text-align: center;
	line-height: 50px;
	border: 3px solid darkgrey;
}

.menu-subject-fields:hover {
	background-color: blue;
	font-weight: 900;
	cursor: pointer;
}

.menu-name-input {
	width: 100%;
	height: 50px;
	border: 3px solid #fff;
	border-radius: 10px;
	padding-left: 15px;
	display: block;
	margin-top: 15px;
	background-color: rgba(255,255,255,0.1);
	color: #fff;
}

.menu-name-input::placeholder {
	color: #666;
}

#menu-help {
	display: none;
	width: 100%;
	color: #fff;
	font-family: sans-serif;
	position: relative;
	margin-top: -59px;
}
#menu-help-title {
	width: 100%;
}

#menu-help-content {
	width: 100%;
	height: 300px;
	overflow: auto;
	text-align: left;
	margin-bottom: -29px;
}

.menu-help-content-titles h3 {
	margin-top: 15px;
	border-bottom: 2px solid #fff;
	padding: 0px 10px;
}
.menu-help-content-titles p {
	padding: 0px 10px;
}

.menu-help-content-titles {
	height: 40px;
	margin-top: 10px;
	overflow: hidden;
}

.menu-help-content-titles:hover {
	background-color: rgba(255,255,255,0.1);
	cursor: pointer;
}

@keyframes incorrect-name-field {
	from {border-color: #fff}
	to {border-color: #ff0000}
}

@keyframes incorrect-name-field-reverse {
	from {border-color: #ff0000}
	to {border-color: #fff}
}

/* - CSS for the main game - */

#app-content-container {
	display: flex;
}

#app-left-container {
	width: 50%;
	text-align: center;
}

#app-right-container {
	width: 50%;
	height: 99vh;
	text-align: center;
	display: flex;
	flex-direction: column;
	margin-top: -8px;
	margin-bottom: -1px;
}

.app-right-containers {
	width: 98%;
	height: 30%;
	color: #fff;
	font-family: sans-serif;
	font-size: 50px;
	font-weight: 600;
	padding-right: 8px;
	border: 5px solid #fff;
	border-radius: 5px;
	display: table;
	margin-top: 12px;
	margin-bottom: 12px;
}

.app-right-containers span {
	display: table-cell;
	vertical-align: middle;
}

#wheel-container {
	max-width: 75%;
	min-width: 10%;
	max-height: 75%;
	min-height: 10%;
	margin: auto;
	text-align: center;
}

#wheel {
	height: 100%;
	width: 100%;
}

#app-wheel-pointer {
	width: 0px;
	height: 0px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 30px solid gold;
	margin: auto;
	margin-top: 30px;
	margin-bottom: -10px;
	position: relative;
	z-index: 1;
	transform: rotate(-3deg);
}

#app-money-won {
	font-family: sans-serif;
	font-size: 30px;
	color: gold;
	font-weight: 600;
	position: absolute;
	margin-left: 60px;
}

#app-input-title {
	font-family: sans-serif;
	font-size: 20px;
	color: #fff;
	margin-top: 30px;
}

#app-guess-input {
	background-color: #fff;
	height: 40px;
	width: 200px;
	border: none;
	border-radius: 10px;
	padding-left: 20px;
	margin-bottom: 0px;
	position: relative;
	display: inline-block;
	z-index: 2;
}

#vowel-button {
	display: inline-block;
	position: relative;
	margin-top: 0px;
	z-index: 2;
}

#app-vowel-button {
	width: 100%;
	height: 100%;
}

.app-vowel-buttons {
	background-color: rgba(0,0,0,0);
	color: #fff;
	border: none;
}

.app-vowel-buttons:hover {
	cursor: pointer;
}

.vowels {
	display: none;
	height: 100%;
	width: 20%;
	margin: none;
}

.vowels:hover {
	background-color: rgba(255,255,255,0.1);
}

#app-message-warning {
	color: #fff;
	font-family: sans-serif;
}

.app-letters {
	width: 50px;
	height: 60px;
	display: inline-block;
	margin: 0px 2px 5px 2px;
	position: relative;
	z-index: -1;
}

.app-hidden-letters {
	color: rgba(0,0,0,0);
	border: 5px solid #fff;

}

.app-visible-letters {
	color: #fff;
	border: 5px solid rgba(0,0,0,0);
}

.app-words {
	display: inline-block;
}

#app-mystery-phrase-cover {
	width: 49%;
	height: 29%;
	position: absolute;
	background-color: rgba(0,0,0,0);
	z-index: 1;
	color: rgba(0,0,0,0);
	vertical-align: middle;
}

#app-mystery-phrase-container {
	position: relative;
	margin: auto;
	text-align: center;
	z-index: 0;
}

@keyframes expand {
	from {width: 100px};
	to {width: 200px};
}

@keyframes shrink {
	from {width: 200px};
	to {width: 100px};
}

/* - CSS for the end screen - */

#endScreen-container {
	color: #fff;
	font-family: sans-serif;
	text-align: center;
	width: 40%;
	height: auto;
	margin: auto;
	margin-top: 5%;
	border: 3px solid #fff;
	border-radius: 5px;
}

#endScreen-wining-header {
	font-size: 90px;
	margin-bottom: 0px;
}

#endScreen-wining-player-name {
	font-size: 70px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
}

#endScreen-wining-player-points {
	font-size: 60px;
	margin-top: 0px;
	margin-bottom: 10px;
}

#endScreen-wining-player-name, #endScreen-wining-player-points {
	color: gold;
}